*{
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

*{
	font-family: arial;
}

.s1{
  display: flex;
  background-color:#f6f7f9;
  flex-wrap:wrap;
  width:1600px;
  height:830px;
}
.s2{
  display: flex;
  flex-direction: column;
  background-color:white;
  border:2px solid ;
  border-color: #f8f8f8;
  margin-left:214px;
  margin-top:-64px;
  width:1170px;
  height:930px;
  position: absolute;
  border-radius:10px;
}
.s3,.slider{
  display: flex;
  margin-left:215px;
  margin-top:965px;
  width:1270px;
  height:560px;
  position: absolute;
  border-radius:10px;
}
.slider
{
	margin-top:40px;
	margin-left:0px;
	height:435px;
}
.box42
{
	margin-left:34px;
	margin-top:32px;
	width:305px;
	height:350px;
}
.s4{
  display: flex;
  flex-direction:column;
  background-color:white;
  margin-left:215px;
  margin-top:1600px;
  width:1170px;
  height:660px;
  position: absolute;
  border-radius:10px;
}
.s5
{
	display: flex;
	flex-direction: column;
    margin-left:415px;
    margin-top:2350px;
    width:800px;
   	height:250px;
}
.s6
{
	display: flex;
	height:330px;
	border-bottom :1px solid #e5e5e5;
	margin-left:265px;
    margin-top:50px;
}
.lbox
{
  display: flex;
  flex-direction:row;
  margin-left:0px;
  margin-top:59px;
  width:1170px;
  height:600px;
  position: absolute;
}
.box1
{
	margin-left:215px;
	margin-top:40px;
}
.box2
{
	width:650px;
	margin-top:40px;
}
.box3,.box4,.box5
{
	display: flex;
	margin-left:90px;
	margin-top:25px;
	width:1000px;
	height:200px;
}
.box3
{
	margin-top: 42px;
}
.box6,.box7,.box8
{
	margin-top: 52px;
	line-height: 30px;
	margin-left: 38px;
	font-size:14px;
	opacity:30%;
	font-family: arial;
	color:black;
	font-weight:lighter;
}
.box9,.box10,.box11,.box12
{	
	margin-top: 10px;
	flex-direction: column;
	margin-left: 0px;
	width:293px;
	height:590px;
}
.box13,.box14,.box15,.box16,.box17,.box18,.box19,.box20,.box21,.box22
{
	margin:0px;
	height:196px;
	width:295px;
}
.box13
{
	background-image: url("75095-1.png");
	background-size: cover;
}
.box14
{
	background-image: url("mike-dorner-sf_1ZDA1YFw-unsplash-1.png");
	background-size: cover;
}
.box15
{
	background-image: url("1683-1.png");
	background-size: cover;
}
.box16
{
	height:390px;
	background-image: url("2857-1.png");
	background-size: cover;
}
.box17
{
	height:200px;
	background-image: url("sina-katirachi-sj5nVJSfYl4-unsplash-1.png");
	background-size: cover;
}
.box18
{
	background-image: url("451-1.png");
	background-size: cover;
}
.box19
{
	background-image: url("markus-spiske-UJwcQ3xeFHo-unsplash-1.png");
	background-size: cover;
}
.box20
{
	background-image: url("sina-katirachi-sj5nVJSfYl4-unsplash-1.png");
	background-size: cover;
}
.box21
{
	background-image: url("15-1.png");
	background-size: cover;
}
.box22
{
	height:390px;
	background-image: url("1670-1.png");
	background-size: cover;
}
.box23,.box24,.box25,.box26
{
	display:flex;
	flex-direction: column;
	margin-top: 26px;
	margin-left: 6px;
	height:260px;
	width:250px;
}
.box23
{
	width:350px;
}
.box27
{
	display: flex;
	flex-direction: column;
	margin-top:25px;
	width:200px;
	height:100px;
}
.box28,.box29
{
	display: flex;
	flex-direction: row;
	margin-top:20px;
	width:300px;
	height:50px;
}
.box29,.box30
{	
	flex-direction: column;
	margin-top:17px;
	margin-left:80px;
	line-height: 41px;
	font-size: 14px;
	color:#bebebe;
	width:100px;
	height:300px;
}
.box30
{
	margin-left:25px;
}
.foot
{
	margin-left: 700px;
	margin-top:49px;
	font-size: 13px;
	color:#bebebe;
	padding-bottom:30px;
}
.box31,.box32,.box33,.box34
{
	margin-left:20px;
	display:flex;
	flex-direction: column;
	width:200px;
	height:300px;
}
.box32
{
	margin-top:12px;
	margin-left:0px;
	width:220px;
	height:70px;
	background-image: url("google-podcasts-button.png");
	background-size: cover;
}
.box33
{
	margin-top:0px;
	margin-left:-5px;
	width:230px;
	height:65px;
	background-image: url("20938-23374-apple-podcasts-l.jpg");
	background-size: cover;
		
}
.box34
{
	margin-top:0px;
	margin-left:0px;
	width:210px;
	height:58px;
	background-image: url("spotify.png");
	background-size: cover;

}
.box35,.box36,.box37
{
	border:1px solid black;
	margin-right:27px;
	width:45px;
	height:45px;
	border-radius: 50%;
	border-color:orange;
	padding:13px;
	padding-left:17px;
}
.box36
{
	padding-left:15px;
}
.box37
{
	padding-left:15px;
}
.box38,.box39,.box40
{
	margin-top:20px;
	border: 2px solid;
	border-color:#f8f8f8;
	width:370px;
	margin-right:30px;
	height:400px;
}
.x1,.x2,.x3
{
	margin-top:19px;
	margin-left:80px;
	font-weight:bold;
	color:black;
	font-size: 16px;
}
.x2
{
	margin-left:23px;
	word-spacing:-3px;
}
.x3
{
	margin-left:26px;
	font-size: 15px;
}
.c1
{
	border-radius: 50%;
	padding-top:12px;
	padding-left: 14px;
	padding-right:17px;
	padding-bottom: 12px;
	border:1px solid orange;
}
.logo
{
	float:left;
}
.nav
{
	margin-left:-18px;
	padding-top:13px;
	word-spacing:29px;
	width:521px;
	margin-bottom: 20px;

}
h1
{
	float: left;
	font-size: 35px;
}
h2
{
	margin-top: 176px;
	margin-bottom:20px;
	margin-left: 0px;
	font-size: 14px;
	font-family: arial;
	color:#ff5300;
	font-weight: lighter;
}
h3
{
	font-size:52px;
	font-family: arial;
	color:black;
	font-weight:bold;
}
.h3
{
	
	width:670px;
	margin-bottom:27px;
	

}
	


.h4,.h8,.h9,.h10
{
	margin-left:70px;
	margin-top:55px;
	font-size:32px;
	color:black;
	font-weight:bold;
}
.h5,.h6,.h7
{
	margin-top: 15px;
	margin-left: 11px;
	font-size:24px;
	width:500px;
	color:black;
	font-weight:bold;
}
.h8
{
	margin-top: 0px;
	margin-left: 500px;
	
}
.h9
{
	margin-top: -5px;
	margin-left: 460px;
}
.h10
{
	margin-left: 211px;
	margin-top: 25px;
	
}
.h11
{
	padding-left:0px;
	padding-top:20px;
	color:#ff864d;
}
.p1
{
	width:600px;
	margin-bottom: 39px;

}
#p1
{
	font-size:16px;
	line-height:1.5;
	font-family: arial;
	color:black;
}
.p7,.p8,.p9,.p10,.p11
{
	font-size:15px;
	margin-top:20px;
	margin-left:13px;
	line-height: 20px;
	width:520px;
	font-family: arial;
	color:black;
	font-weight:lighter;
	opacity:80%;
}
.p9
{	
	margin-top:26px;
}
.p10
{
	margin-top:27px;
	margin-left: 141px;
	line-height: 23px;
}
.p12
{
	font-size:15px;
	margin-top:23px;
	font-size: 14px;
	line-height: 22px;
	opacity: 100%;
}
.p13,.p14
{
	color:#adadad;
	font-size:14px;
	margin-left:137px;
	margin-top:-15px;
}
.p14
{
	margin-left:0px;
	margin-top:10px;
}
.p15
{
	margin-top:7px;
	margin-left:1px;
	font-size: 24px;
	font-weight: bold;
	line-height:34px;
}
.p16
{
	margin-top:25px;
	margin-left:3px;
	color:#adadad;
	font-size:15px;
	line-height:24px;
}
.button1,.button2,.button3,.button4,.button5,.button6,.button7,.button8
{
	
	font-size: 14px;
	color:white;
	border-radius:5px;
	width:115px;
	height:40px;
	padding-left:33px;
	padding-top:12px;
	background: #ff5300;
	font-family: arial;

}
.button2
{
	margin-top:-28px;
	width:130px;
	float:right;
}
.button3
{
	margin-top:-40px;
	margin-left:985px;
	float:right;
}
.button4,.button5,.button6
{
	padding-left: 44px;
	margin-top: 18px;
	margin-left: 425px;
}
.button7,.button9
{
	align-self: center;
	padding-top: 10px;
	padding-left:20px; 
	margin-top:55px;
	width:168px;
	height:42px;
	margin-left:0px;
	background: white;
	color:#ff5300;
	border:1px solid #ff5300;
	border-color:#ff5300;
}
.button8
{
	width:145px;
	height:60px;
	border:0px none;
	margin-top:25px;
	margin-left:0px;
	padding-top: 0px;
	padding-left:25px;
	text-align: left;
	position: absolute;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
.button9
{
	margin-top:25px;
	margin-left:1px;
	width:122px;
	padding-top:10px;
	padding-left:24px;
	border-radius:2px;
}
.image
{
	margin-left:80px;
	margin-top: -20px;
	position: absolute;
}
.input
{
	width:425px;
	height:60px;
	margin-top: 26px;
	margin-left:100px;
	background:#f5f5f5;
	padding-left:30px;
	color:#c1c1c1;
	border:0px none;

}
.larrow,.rarrow
{
	margin-top:515px;
	margin-left:-118px;
}
.rarrow
{
	margin-left: 30px;
}
#home
{
	color:#fe7433;
	border-bottom: 1px solid #fe7433;
	padding-bottom:10px;
}
.card
{
	border:1px solid #fe5200;
	margin-top:0px;
	margin-left:-30px;
	width:20px;
	height:30px;

}